.devise-head {
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding-top: 150px;
}
.devise-form {
  padding-top:100px;
  height: calc(100Vh - 300px);
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  font-style: none;
}

.devise-foot {
  color: #fff;
  text-decoration: none;
}